
<% provide(:title, 'Sign up') %>

<div class="signup-container">
	<h1 style="margin-top:0;">Sign Up</h1>
	<%= form_for @user, :html => {id: 'signup-form'} do |f| %>

	<%if @user.errors.any?%>
		<ul>
		<% @user.errors.full_messages.each do |msg|%>
			<li><%= msg %></li>
		<%end%>
		</ul>
	<%end%>

		<%= f.email_field :email , required: true, placeholder: "Enter email address"%>
		<%= f.password_field :password, required: true, placeholder: "Password", minlength: "8"%>
		<%= f.password_field :password_confirmation, required: true, placeholder: "Password Confirmation", minlength: "8"%>
			<p>(I won't spam you to hell.)</p>
		<%=f.submit "Create my account", id: "submit-btn"%>
	<%end%>
	<p>Already a user? <%= link_to 'Log in.', login_path%></p>
</div>

