<!-- homes/index.html.erb -->

<div>
	<!--menu-->
	<%= react_component('HomeFilter') %>
	<!--homes-->
	<!--render partial: 'home_grid', locals: {items: @items}%>-->
	<%=form_tag({:controller=> "search_results", :action => "create"}, :remote=>true, :id => "filterForm") do%>
		<%=submit_tag 'save' ,:class=>"hide"%>
	<%end%>

	<div id="searchResults">
		
		<%= render 'home_grid'%>
		
	</div>
</div>
<script type="text/javascript">
	document.onreadystatechange = function(){
		if(document.readyState === "complete"){
			var x = <%=@filterText.to_json.html_safe%>
			if(x){
				var input = document.getElementById('filterTextBox');

				var nativeInputValueSetter = Object.getOwnPropertyDescriptor(window.HTMLInputElement.prototype, "value").set;

				nativeInputValueSetter.call(input, x);

				var ev2 = new Event('input', { bubbles: true});
				input.dispatchEvent(ev2);
				
			}

		}
	}
</script>