<!-- homes/index.html.erb -->

<div>
	<!--menu-->
	<%= react_component('HomeFilter', text: @filterText, type: @listingType) %>
	<!--homes-->
	<!--render partial: 'home_grid', locals: {items: @items}%>-->
	<%=form_tag({:controller=> "search_results", :action => "create"}, :remote=>true, :id => "filterForm") do%>
		<%=submit_tag 'save' ,:class=>"hide"%>
	<%end%>

	<div id="searchResults">
		
		<%= render 'home_grid'%>
		
	</div>
</div>
<script type="text/javascript">
	document.onreadystatechange = function(){
		if(document.readyState === "complete"){
			var x = <%=@filterText.to_json.html_safe%>
			document.getElementById("filterTextBox").placeholder = x;
		}
	}
</script>