<!DOCTYPE html>
<html>
  <head>
    <title>Homesprinter</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"> 
  </head>

  <body>
    <%= yield %>
    <%= debug(params) if Rails.env.development?%><!--This line restricts the debug information to the development environment only. Otherwise, users will see unsightly error messages in the deployed application.-->
    
  </body>
</html>
